body {
  overflow: hidden;
}

/* Sidebar */

.sidebar {
  background-color: #fff;
}

.title {
  padding-bottom: 10px;
  border-bottom: 1px solid #fff;
}

#itinerarySteps {
  overflow: auto!important;
  max-height: 70vh;
}

/* Map */

.map-container {
  padding: 0px;
  height:100vh;
}

#map {
    position: relative;
    top: 0px;
    bottom: 0px;
    height: 100%;
    width: 100%;
    padding: 0;
}

/* Map markers */

.marker-pin {
  width: 30px;
  height: 30px;
  border-radius: 50% 50% 50% 0;
  position: absolute;
  transform: rotate(-45deg);
  left: 50%;
  top: 50%;
  margin: -15px 0 0 -15px;
}

.marker-pin::after {
    content: '';
    width: 24px;
    height: 24px;
    margin: 3px 0 0 3px;
    background: #fff;
    position: absolute;
    border-radius: 50%;
}

.custom-div-icon i {
   position: absolute;
   width: 22px;
   left: 0;
   right: 0;
   margin: 12px auto;
   font-size: 17px;
   text-align: center;
}

.marker-pin-start + i:before, .marker-pin-end + i:before {
  content: "\f11e";
}
.marker-pin-start {
  background: green;
}
.marker-pin-end {
  background: red;
}

.marker-pin-station-start + i:before, .marker-pin-station-end + i:before {
  content: "\f206";
}
.marker-pin-station-start {
  background: green;
}
.marker-pin-station-end {
  background: red;
}

.marker-pin-step + i:before {
  content: "\f276";
}
.marker-pin-step {
  background: gold;
}