<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<appSettings>
		<add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
	</appSettings>
	
	<system.web>
		<compilation debug="true" />
	</system.web>
	
	<system.serviceModel>

		<diagnostics performanceCounters="Default" />
		<bindings>
			<basicHttpBinding>
				<binding name="BasicHttpBinding_IProxy" maxBufferPoolSize="6400000" maxBufferSize="6400000" maxReceivedMessageSize="6400000" />
			</basicHttpBinding>
		</bindings>
		
		<client>
			<endpoint address="http://localhost:8733/Design_Time_Addresses/Proxy/Proxy/" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IProxy" contract="ServiceReference1.IProxy" name="BasicHttpBinding_IProxy" />
		</client>
	  
		<services>
			<service name="RootingService.Service1">
				<endpoint address="" binding="basicHttpBinding" contract="RootingService.IService1">
					<identity>
						<dns value="localhost" />
					</identity>
				</endpoint>
			
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8733/Design_Time_Addresses/RootingService/Service1/" />
					</baseAddresses>
				</host>
			
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
			</service>
		</services>
	  
		<behaviors>
			<serviceBehaviors>
				<behavior>
					<serviceMetadata httpGetEnabled="True" httpsGetEnabled="True" />
					<serviceDebug includeExceptionDetailInFaults="True" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>

	<runtime>

		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

			<dependentAssembly>
				<assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
			</dependentAssembly>
			
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>

		</assemblyBinding>

	</runtime>
</configuration>
